numpy
cython
moviepy
whisper
yt_dlp
numba==0.61.0rc2 #Use RC2 until next release
torch #Broken on 3.13, whisper dependencie
torchaudio #Broken on 3.13, whisper dependencie
setuptools
PyQt5
opencv-python